<<<<<<< HEAD
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
<<<<<<< HEAD
</style>
=======
</style>
body {
    background-color: grey;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 110%;
    font-family: "Times New Roman", Georgia, Serif;
}
>>>>>>> 5521ed519db697927c7fce86bbcfe91cedbb55b2
